body {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h1 {
    text-align: center;
}

main {
    width: fit-content;
    margin: auto;
}

.choice-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

